<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    
  </head>
  <body>

    {% include "./partials/navbar-donate.html" %}

    <div class="relative mx-auto max-w-7xl py-16 px-8">
    <h2 id="features-heading" class="font-medium text-gray-500 mona">Donations</h2>
    <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900  max-w-2xl">Help Fund Scholarships for Students at the SailFuture Academy</h2>
    <p class="mt-4 text-gray-500 text-lg leading-8 pb-8 max-w-2xl">
      We accept donations either by check or through the completion of the form provided below. For those opting to donate via check, please kindly mail your checks to SailFuture at the following address: 2154 27th Avenue N, Saint Petersburg, FL 33713.</p>
      <h2 id="features-heading" class="font-medium text-blue-500 mona pb-4">Make An Online Donation</h2>
      {% include "./partials/donate-widget.html" %}
  </div>

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>