<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<style>
  .relative.z-10[aria-modal="true"] {
    display: none;
}
</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Show the modal
    var modal = document.querySelector('.relative.z-10[aria-modal="true"]');
    modal.style.display = 'block';

    // Close the modal when the button is clicked
    document.getElementById('closeModalButton').addEventListener('click', function() {
        modal.style.display = 'none';
    });
});

</script>
    
  </head>
  <body>

    {% include "./partials/nav/nav-fixed.html" %}
    {% include "./partials/main/home-main.html" %}
    {% include "./partials/nav/footer-main.html" %}



    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>