<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      SailFuture: Vacation With Purpose
    </title>

    <meta name="keywords" content="SailFuture, Vacation with Purpose, Whatever It Takes">
    <meta name="author" content="SailFuture">
    <meta property="og:title" content="SailFuture: Vacation With Purpose: Book Now">
    <meta property="og:description" content="Book a week onboard SailFuture's newly refitted 100-foot sailing yacht, 'S/Y Whatever It Takes' as it travels the world.">
    <meta property="og:image" content="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg">
    <meta property="og:url" content="vacations.sailfuture.org">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg">
    <meta name="twitter:title" content="SailFuture: Vacation With Purpose: Book Now">
    <meta name="twitter:description" content="Book a week onboard SailFuture's newly refitted 100-foot sailing yacht, 'S/Y Whatever It Takes' as it travels the world.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpgg">

    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721694528/apple-touch-icon.png">
    <link rel="icon" type="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721694532/favicon-32x32.png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721694531/favicon-16x16.png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="https://res.cloudinary.com/dbhwzxw0k/raw/upload/v1721694534/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

  </head>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KDD4WXG25E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KDD4WXG25E');
</script>

  <body>

    {% include "./partials/nav/navarbar-secondary.html" %}

    <!-- {% include "./partials/vacations/details.html" %} -->
    
    {% include "./partials/vacations/hero-map-ii.html" %}

   <!-- {% include "./partials/vacations/hero-map-iii.html" %} -->

   <!-- {% include "./partials/vacations/details-ii.html" %}

   {% include "./partials/vacations/details-iii.html" %} -->

    {% include "./partials/nav/header.html" %}
 
    {% include "./partials/vacations/charter-course-ii.html" %}

    {% include "./partials/vacations/charter-course-v.html" %}

    <!-- {% include "./partials/vacations/charter-course-iv.html" %} -->



    {% include "./partials/vacations/old.html" %}

    <!-- {% include "./partials/vacations/caribbean-2-light.html" %} -->

    {% include "./partials/vacations/dates.html" %}

    {% include "./partials/vacations/pricing.html" %}

    {% include "./partials/vacations/hero-boat-iii.html" %}
    
    {% include "./partials/vacations/Vessel-amenities.html" %}


    <!-- {% include "./partials/vacations/charter-course-ii.html" %} -->

    {% include "./partials/vacations/vessel-accomodation.html" %}

    {% include "./partials/vacations/vacation-cta.html" %}

    <!-- {% include "./partials/vacations/destinations-ii.html" %} -->

    <!-- {% include "./partials/vacations/main-content.html" %} -->

    {% include "./partials/nav/footer.html" %}

    <script src="/static/js/alpine.js"></script>


    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>