<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    
  </head>
  <body>

    {% include "./partials/nav/navarbar-secondary.html" %}

    <!-- {% include "./partials/vacations/details.html" %} -->
    
    {% include "./partials/vacations/hero-map-ii.html" %}

   <!-- {% include "./partials/vacations/hero-map-iii.html" %} -->

   <!-- {% include "./partials/vacations/details-ii.html" %}

   {% include "./partials/vacations/details-iii.html" %} -->

    {% include "./partials/nav/header.html" %}
 
    {% include "./partials/vacations/charter-course.html" %}

    <!-- {% include "./partials/vacations/destinations-ii.html" %} -->

    {% include "./partials/vacations/destinations-iii.html" %}

    {% include "./partials/vacations/calendars.html" %}
    
    {% include "./partials/vacations/dates.html" %}

    {% include "./partials/vacations/vacation-cta.html" %}

    {% include "./partials/vacations/pricing.html" %}

    {% include "./partials/vacations/Vessel-amenities.html" %}

    {% include "./partials/vacations/hero-boat-iii.html" %}

    {% include "./partials/vacations/vessel-accomodation.html" %}


    <!-- {% include "./partials/vacations/main-content.html" %} -->


    <!-- {% include "./partials/vacations/caribbean-2-light.html" %}

 {% include "./partials/vacations/destinations.html" %} -->

    {% include "./partials/nav/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>