<div class="relative mx-auto max-w-7xl py-16 px-8 scroll-mt-24" id="donate">
    <h2 id="features-heading" class="font-medium text-gray-500 mona">Donations</h2>
    <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900  max-w-2xl">Make Your Contribution</h2>
    <p class="mt-4 text-gray-500 text-lg leading-8 pb-8 max-w-2xl">
      We accept donations either by check or through the completion of the form provided below. For those opting to donate via check, please kindly mail your checks to SailFuture at the following address: 2154 27th Avenue N, Saint Petersburg, FL 33713.</p>
      <h2 id="features-heading" class="font-medium text-blue-500 mona pb-4">Make An Online Donation</h2>
      <div class="relative mx-auto ring-1 ring-inset ring-gray-900/5 bg-gray-100 p-0 md:p-4 rounded-xl">
        <script src="https://cdn.virtuoussoftware.com/virtuous.embed.min.js" data-vform="06043b08-609f-4484-9757-fdf59848d087" data-orgId="4063" data-isGiving="true" data-merchantType="StripeUnified"></script>
        </div>
  </div>