<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">About the SailFuture Academy<br>Scholarship Endowment</h2>
      <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
        <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
          <p class="text-xl leading-8 text-gray-600">
            
            The SailFuture Academy Scholarship Endowment is a remarkable initiative designed to support the education of at-risk students in St. Petersburg. Each $30,000 scholarship provides tuition-free education for one student annually in perpetuity. Donors are matched with a student each year, allowing them to witness the lasting impact of their generosity.

            The structure of the endowment is such that each $30,000 scholarship contributes to a larger $6 million scholarship fund. This fund is invested, and the annual returns are used to grant $6,500 scholarships to 100 students every year. This sustainable model ensures ongoing support for the education of at-risk youth.
            <br></br>
            Your scholarships is more than just financial aid; it is a life-changing opportunity. By attending SailFuture Academy, students gain access to unique educational experiences that nurture independent thinking and entrepreneurial skills, ultimately guiding them towards becoming successful and self-reliant high school graduates.</p>
        </div>
        <div class="lg:flex lg:flex-auto lg:justify-center">
          <dl class="w-64 space-y-8 xl:w-80">
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Transactions every 24 hours</dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">44 million</dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Assets under holding</dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">$119 trillion</dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">New users annually</dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">46,000</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
