<div class="bg-slate-900 scroll-mt-24 py-16" id="about">
    <div class="mx-auto max-w-7xl px-6 lg:px-6">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <p class="text-base font-semibold leading-7 text-blue-200">Overview</p>
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">About the SailFuture Academy<br> Scholarship Endowment</h2>
        <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-gray-300 lg:max-w-none lg:grid-cols-2 text-lg leading-7 ">
          <div>
            <p>The SailFuture Academy Scholarship Endowment is a initiative designed to support the education of at-risk students in St. Petersburg. Each $30,000 scholarship provides tuition-free education for one student annually in perpetuity. Donors are matched with a student each year, allowing them to witness the lasting impact of their generosity.
              <br></br>
              Each $30,000 scholarship contributes to a larger $6 million scholarship fund, and the annual returns are used to grant $6,500 scholarships to 100 students every year.
            </p>
          </div>
          <div>
            <p>
              Scholarships to the SailFuture Academy are more than just financial aid; they offer life-changing opportunities for these students. 
              <br></br>
              By attending SailFuture Academy, students gain access to unique educational experiences that nurture independent thinking and entrepreneurial skills, ultimately guiding them towards becoming successful and self-reliant high school graduates.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>