<div class="bg-white py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-left md:text-center">
      <p class="text-base font-semibold leading-7 text-blue-600">
        Vacation Features
      </p>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Chart Your Own Adventure through the Caribbean & Lesser Antilles</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Guests have the unique opportunity to select from any of the four stunning destinations during our available charter weeks. Revel in vibrant island cultures, explore hidden gems, and unwind on the pristine beaches of this tropical paradise. Experience the magic of the Caribbean in every season.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-10 lg:mx-0 lg:max-w-none md:grid-cols-2 lg:grid-cols-4">
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718220723/daniel-oberg-EAa8xASFq8I-unsplash.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Exotic and Unique Destinations
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Sail to 20 carefully selected, exotic destinations across the Caribbean and Lesser Antilles, each offering breathtaking landscapes, vibrant cultures, and unique local experiences to explore.</p>
          </div>
        </div>
      </article>

      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721531410/MapImage1.png" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Customized Itinerary Experiences
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Design your adventure with a fully customized itinerary, ensuring each day is filled with unique and memorable experiences tailored to your preferences and interests, making every trip truly special.</p>
          </div>
        </div>
      </article>

      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721537421/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Luxury Amenities w/ Private Chef
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Indulge in luxury with customizable amenities, including the option to select a private chef who will prepare gourmet meals in our fully-equipped commercial galley, ensuring a top-notch culinary experience.
            </p>
          </div>
        </div>
      </article>

      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721537360/sebastian-pena-lambarri-7i5HMCGupVw-unsplash.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Onboard Diving & Watersport Amenities
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Benefit from our extensive onboard diving program with 20 dive tanks and BCDs, alongside a variety of watersports gear including a 15’ racing catamaran, kayaks, paddleboards, and high-speed RIBs for endless fun.</p>
          </div>
        </div>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>
