<div class="bg-slate-100 py-12 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-left md:text-center">
      <p class="text-base font-semibold leading-7 text-blue-600">
        Features & Amenities
      </p>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Design Your Dream Sailing Adventure with Custom Amenities</h2>
      <p class="mt-2 text-lg leading-7 text-gray-600">Elevate your journey with our exclusive vessel amenities, each thoughtfully curated to add a touch of luxury and unique charm to your experience, ensuring every moment aboard is unforgettable.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-10 lg:mx-0 lg:max-w-none md:grid-cols-2 lg:grid-cols-4">
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721680191/cristofer-maximilian-Q7kAffZWVpY-unsplash.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Explore Exotic and<br>Unique Destinations
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Sail to 20 carefully selected, exotic destinations across the Caribbean and Lesser Antilles, each offering breathtaking landscapes, vibrant cultures, and unique local experiences to explore.</p>
          </div>
        </div>
      </article>

      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721507990/445528619_850800473738328_2695236412917990868_n.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Personalized Sailing<br>Itinerary
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Design your adventure with a fully customized itinerary, ensuring each day is filled with unique and memorable experiences tailored to your preferences and interests, making every trip truly special.</p>
          </div>
        </div>
      </article>

      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040741/30m-Yacht-JUPITER_-9883-82.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Private Chef for Exclusive Gourmet Meals
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Indulge in luxury with customizable amenities, including the option to select a private chef who will prepare gourmet meals in our fully-equipped commercial galley, ensuring a top-notch culinary experience.
            </p>
          </div>
        </div>
      </article>

      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721680574/maxresdefault_1.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-6 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <span class="absolute inset-0"></span>
                Onboard Diving<br>& Watersports
            </h3>
            <p class="mt-2 text-sm leading-6 text-gray-600">Benefit from our extensive onboard diving program with 20 dive tanks and BCDs, alongside a variety of gear including a 15’ racing catamaran, kayaks, paddleboards, and high-speed RIBs for endless fun.</p>
          </div>
        </div>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>
