<div class="relative bg-white">
  <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718222188/DJI_0117_1.png" alt="">
  <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
    <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32">
      <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
        <div class="mx-auto max-w-2xl lg:max-w-7xl">
          <div class="max-w-3xl">
            <h2 id="features-heading" class="font-medium text-gray-500 mona">Accomodations</h2>
            <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">A Unique Way to Support SailFuture
              While Traveling the World</h2>
            <p class="mt-4 text-lg leading-7 text-gray-500">
              For just 10 weeks a year, our 100' sailing yacht S/Y 'Whatever It Takes' is open for week-long vacations in some of the most beautiful places in the world. Guests may customize their vacation experience to make it as adventurous or luxurious as desired.
              <br></br>
              These Vacations with Purpose take place in between student expeditions and 100% of your donation supports our critical work to help at-risk youth transform their lives through adventure therapy and wraparound programming.</p>
            <h2 id="features-heading" class="font-medium text-gray-500"></h2>
            <h2 class="mt-2 text-3xl font-medium tracking-tight text-gray-900 sm:text-4xl"></h2>
            <p class="mt-4 text-gray-500"></p>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
