
<section class="bg-slate-100 py-8 scroll-mt-24" id="dates">
  <div class="relative px-6 mx-auto max-w-7xl text-white z-1">

<div class="mx-auto max-w-2xl lg:max-w-7xl mt-8">
  <div class="max-w-3xl">
    <h2 id="features-heading" class="font-medium text-gray-500 mona">2024-2025 Season Bookings</h2>
    <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">Booking Dates & Avalibility</h2>
    <h2 id="features-heading" class="font-medium text-gray-500"></h2>
    <h2 class="mt-2 text-3xl font-medium tracking-tight text-gray-900 sm:text-4xl"></h2>
    <p class="mt-4 text-gray-500"></p>
  </div>
  </div>

      <div class="lg:mb-0">
        
        <!-- Octboer  -->
      <div class="py-4 mt-2 relative mx-auto max-w-7xl px-6 lg:px-6 bg-white rounded-xl">
        <div class="">
          <div class="">
            <div>
              <table class="w-full text-gray-500">
                <thead class="sr-only text-left text-sm text-gray-700 sm:not-sr-only">
                  <tr>
                    <th scope="col" class="py-3 pr-8 font-bold text-lg sm:w-2/5 lg:w-1/3">October 2025</th>
                    <th scope="col" class="w-0 py-3 text-right font-bold">Availability</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 border-gray-200 text-sm sm:border-t">
                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">October 13th, 2024 → October 19th, 2024</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">October 20th, 2024 → October 26th, 2024</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

              <!-- December  -->
      <div class="py-4 mt-2 relative mx-auto max-w-7xl px-6 lg:px-6 bg-white rounded-xl">
        <div class="">
          <div class="">
            <div>
              <table class="w-full text-gray-500">
                <thead class="sr-only text-left text-sm text-gray-700 sm:not-sr-only">
                  <tr>
                    <th scope="col" class="py-3 pr-8 font-bold text-lg sm:w-2/5 lg:w-1/3">December 2025 - Janaury 2025 </th>
                    <th scope="col" class="w-0 py-3 text-right font-bold">Availability</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 border-gray-200 text-sm sm:border-t">
                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">December 22nd, 2024 → December 28th, 2024</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">December 29th, 2024 → January 4th, 2025</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">January 5th, 2025 → January 11th, 2025</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- March  -->
      <div class="py-4 mt-2 relative mx-auto max-w-7xl px-6 lg:px-6 bg-white rounded-xl">
        <div class="">
          <div class="">
            <div>
              <table class="w-full text-gray-500">
                <thead class="sr-only text-left text-sm text-gray-700 sm:not-sr-only">
                  <tr>
                    <th scope="col" class="py-3 pr-8 font-bold text-lg sm:w-2/5 lg:w-1/3">March 2025</th>
                    <th scope="col" class="w-0 py-3 text-right font-bold">Availability</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 border-gray-200 text-sm sm:border-t">
                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">March 9th, 2025 → March 15th, 2025</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-4 pr-8">
                      <div class="flex items-center">
                        <div>
                          <div class="font-medium text-gray-900">March 16th, 2025 → March 22nd, 2025</div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap py-4 text-right font-medium">
                      <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                        Book Now
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

            <!-- May  -->
            <div class="py-4 mt-2 relative mx-auto max-w-7xl px-6 lg:px-6 bg-white rounded-xl">
              <div class="">
                <div class="">
                  <div>
                    <table class="w-full text-gray-500">
                      <thead class="sr-only text-left text-sm text-gray-700 sm:not-sr-only">
                        <tr>
                          <th scope="col" class="py-3 pr-8 font-bold text-lg sm:w-2/5 lg:w-1/3">May 2025</th>
                          <th scope="col" class="w-0 py-3 text-right font-bold">Availability</th>
                        </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-200 border-gray-200 text-sm sm:border-t">
                        <tr>
                          <td class="py-4 pr-8">
                            <div class="flex items-center">
                              <div>
                                <div class="font-medium text-gray-900">May 18th, 2025 → May 24th, 2025</div>
                              </div>
                            </div>
                          </td>
                          <td class="whitespace-nowrap py-4 text-right font-medium">
                            <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                              Book Now
                              <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="py-4 pr-8">
                            <div class="flex items-center">
                              <div>
                                <div class="font-medium text-gray-900">May 25th, 2025 → May 31st, 2025</div>
                              </div>
                            </div>
                          </td>
                          <td class="whitespace-nowrap py-4 text-right font-medium">
                            <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                              Book Now
                              <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                              </svg>
                            </a>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
                  <!-- July  -->
                  <div class="py-4 mt-2 relative mx-auto max-w-7xl px-6 lg:px-6 bg-white rounded-xl">
                    <div class="">
                      <div class="">
                        <div>
                          <table class="w-full text-gray-500">
                            <thead class="sr-only text-left text-sm text-gray-700 sm:not-sr-only">
                              <tr>
                                <th scope="col" class="py-3 pr-8 font-bold text-lg sm:w-2/5 lg:w-1/3">July 2025 - Aguust 2025</th>
                                <th scope="col" class="w-0 py-3 text-right font-bold">Availability</th>
                              </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 border-gray-200 text-sm sm:border-t">
                              <tr>
                                <td class="py-4 pr-8">
                                  <div class="flex items-center">
                                    <div>
                                      <div class="font-medium text-gray-900">July 20th, 2025 → July 26th, 2025</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="whitespace-nowrap py-4 text-right font-medium">
                                  <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                                    Book Now
                                    <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class="py-4 pr-8">
                                  <div class="flex items-center">
                                    <div>
                                      <div class="font-medium text-gray-900">July 27th, 2025 → August 2nd, 2025</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="whitespace-nowrap py-4 text-right font-medium">
                                  <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                                    Book Now
                                    <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                  </a>
                                </td>
                              </tr>
      
                              <tr>
                                <td class="py-4 pr-8">
                                  <div class="flex items-center">
                                    <div>
                                      <div class="font-medium text-gray-900">August 3rd, 2025 → August 9th, 2025</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="whitespace-nowrap py-4 text-right font-medium">
                                  <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                                    Book Now
                                    <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                  </a>
                                </td>
                              </tr>

                              <tr>
                                <td class="py-4 pr-8">
                                  <div class="flex items-center">
                                    <div>
                                      <div class="font-medium text-gray-900">August 10th, 2025 → August 16th, 2025</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="whitespace-nowrap py-4 text-right font-medium">
                                  <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                                    Book Now
                                    <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                  </a>
                                </td>
                              </tr>

                              <tr>
                                <td class="py-4 pr-8">
                                  <div class="flex items-center">
                                    <div>
                                      <div class="font-medium text-gray-900">August 17th, 2025 → August 23rd, 2025</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="whitespace-nowrap py-4 text-right font-medium">
                                  <a href="/contact" class="inline-flex items-center gap-x-2 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                                    Book Now
                                    <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                    </svg>
                                  </a>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  
      

<!-- Pricing -->
</section>

</div>
