
<div class="bg-slate-50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 lg:max-w-none">


      <div class="mx-auto max-w-2xl lg:max-w-7xl">
        <div class="max-w-3xl">
          <h2 id="features-heading" class="font-medium text-gray-500 mona">Accomodations</h2>
          <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">Chart Your Own Adventure through the Caribbean & Lesser Antilles</h2>
          <p class="mt-4 text-lg leading-7 text-gray-500">
            Choose your own journey through the Caribbean and Lesser Antilles. From summer to winter, embark on an unforgettable adventure across the Caribbean Sea. Guests have the unique opportunity to select from any of the four stunning destinations during our available charter weeks. Revel in vibrant island cultures, explore hidden gems, and unwind on the pristine beaches of this tropical paradise. Experience the magic of the Caribbean in every season.</p>
          <h2 id="features-heading" class="font-medium text-gray-500"></h2>
          <h2 class="mt-2 text-3xl font-medium tracking-tight text-gray-900 sm:text-4xl"></h2>
          <p class="mt-4 text-gray-500"></p>
        </div>
        </div>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">

        <div class="group relative ring-1 ring-slate-100 bg-white p-4 rounded-2xl">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718220969/rick-jamison-9CJTrF-HnlU-unsplash.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 font-semibold text-slate-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Saint Lucia & Grenada
            </a>
          </h3>
          <p class="text-sm mt-1 text-slate-500">Discover the allure of Saint Lucia and Grenada, two Caribbean gems. In Saint Lucia, hike the iconic Pitons and explore hidden waterfalls. In Grenada, known as the "Spice Isle," dive into crystal-clear waters and savor aromatic spice plantations. Both islands promise adventure, relaxation, and unforgettable experiences.

          </p>
        </div>

        <div class="group relative ring-1 ring-slate-100 bg-white p-4 rounded-2xl">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718220969/rick-jamison-9CJTrF-HnlU-unsplash.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 font-semibold text-slate-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Saint Lucia & Grenada
            </a>
          </h3>
          <p class="text-sm mt-1 text-slate-500">Discover the allure of Saint Lucia and Grenada, two Caribbean gems. In Saint Lucia, hike the iconic Pitons and explore hidden waterfalls. In Grenada, known as the "Spice Isle," dive into crystal-clear waters and savor aromatic spice plantations. Both islands promise adventure, relaxation, and unforgettable experiences.

          </p>
        </div>


        <div class="group relative ring-1 ring-slate-100 bg-white p-4 rounded-2xl">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718220969/rick-jamison-9CJTrF-HnlU-unsplash.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 font-semibold text-slate-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Saint Lucia & Grenada
            </a>
          </h3>
          <p class="text-sm mt-1 text-slate-500">Discover the allure of Saint Lucia and Grenada, two Caribbean gems. In Saint Lucia, hike the iconic Pitons and explore hidden waterfalls. In Grenada, known as the "Spice Isle," dive into crystal-clear waters and savor aromatic spice plantations. Both islands promise adventure, relaxation, and unforgettable experiences.

          </p>
        </div>

        <div class="group relative ring-1 ring-slate-100 bg-white p-4 rounded-2xl">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718220969/rick-jamison-9CJTrF-HnlU-unsplash.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 font-semibold text-slate-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Saint Lucia & Grenada
            </a>
          </h3>
          <p class="text-sm mt-1 text-slate-500">Discover the allure of Saint Lucia and Grenada, two Caribbean gems. In Saint Lucia, hike the iconic Pitons and explore hidden waterfalls. In Grenada, known as the "Spice Isle," dive into crystal-clear waters and savor aromatic spice plantations. Both islands promise adventure, relaxation, and unforgettable experiences.

          </p>
        </div>

        <div class="group relative ring-1 ring-slate-100 bg-white p-4 rounded-2xl">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1718220969/rick-jamison-9CJTrF-HnlU-unsplash.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 font-semibold text-slate-900">
            <a href="#">
              <span class="absolute inset-0"></span>
              Saint Lucia & Grenada
            </a>
          </h3>
          <p class="text-sm mt-1 text-slate-500">Discover the allure of Saint Lucia and Grenada, two Caribbean gems. In Saint Lucia, hike the iconic Pitons and explore hidden waterfalls. In Grenada, known as the "Spice Isle," dive into crystal-clear waters and savor aromatic spice plantations. Both islands promise adventure, relaxation, and unforgettable experiences.

          </p>
        </div>

      </div>
    </div>
  </div>
</div>
