<div class="bg-slate-900">
<div class="">

  <div class="relative isolate overflow-hidden">
    <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721533699/rick-jamison-9CJTrF-HnlU-unsplash_1.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#0D2446] to-[#7CB0E1] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl py-24 lg:py-32 p-8 place-content-center">
      <div class="sm:flex sm:justify-center pb-4 place-content-center">
        <div class="relative rounded-full text-center place-content-center px-3 py-1 text-sm leading-6 text-white ring-1 ring-white/10 hover:ring-white/20">
          Announcing Our 2024-2025 Charter Dates <a href="#dates" class="font-semibold text-white"><span class="absolute inset-0" aria-hidden="true">  </span> <span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="text-center">
        <h1 class="max-w-xl text-5xl font-bold leading-11 tracking-tighter md:tracking-tight text-white sm:text-6xl">Vacation With Purpose</h1>
        <p class="mt-6 text-xl lg:text-2xl max-w-1xl leading-7 tracking-tight text-gray-200">Book a week onboard SailFuture's newly refitted 100-foot sailing yacht, 'S/Y Whatever It Takes' as it travels the world.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#destinations" class="rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400">View Destinations</a>
          <a href="#dates" class="text-sm font-semibold leading-6 text-white px-3.5 py-2.5 shadow-sm rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400">Plan Your Vacation<span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>
</div>