<div class="bg-white py-24 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">

    <h2 id="features-heading" class="font-medium text-gray-500 mona">Pricing Details</h2>
    <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">Vacation Expenses & Pricing</h2>
    <p class="mt-4 text-gray-500 text-lg leading-7 ">Vacations with Purpose are not a commercial charter for hire. Guests pay for the direct costs incurred from their passage and are encouraged to make a donation to support SailFuture’s mission.<span class="font-semibold"> Direct Costs and donation suggestions are based on 8-12 guests.</span></p>

    <div class="isolate mx-auto mt-10 grid max-w-full grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="rounded-3xl p-8 ring-1 ring-gray-200 xl:p-10">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-freelancer" class="text-lg font-semibold leading-8 text-gray-900">Direct Chartering Costs</h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600">Customize your trip experience to make your adventure as luxrious or adventerous as you like.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">$10k - $15k</span>
          <span class="text-sm font-semibold leading-6 text-gray-600">/week</span>
          <!-- Payment frequency, update based on frequency toggle state -->
        </p>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 xl:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Captain + Crew Expenses
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Fuel, Marina fees, and Customs fees
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Food and Beverages
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            12 Guests Maximum
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Dive Instructor (Additional Cost)
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Private Chef (Additional Cost)
          </li>
        </ul>
        <p class="mt-4 text-xs text-gray-400">Direct Costs and donation suggestions are based on 8-12 guests.</p>
      </div>
      <div class="rounded-3xl p-8 ring-1 ring-gray-200 xl:p-10 content-center">
        <div class="flex items-center justify-between gap-x-4">
          <h3 id="tier-startup" class="text-lg font-semibold leading-8 text-gray-900">Suggested Tax Deductible Donation</h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600">Make a tax deductible donation to help support SailFuture's mission.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">$15,000</span>
          <span class="text-sm font-semibold leading-6 text-gray-600">/week</span>
          <!-- Payment frequency, update based on frequency toggle state -->
        </p>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 xl:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Tax-Deductible Donation
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Helps to fund scholarships for students at the SailFuture Academy
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Supports students participating in rite-of-passage sailing expeditions.
          </li>
        </ul>
        <p class="mt-4 text-xs text-gray-400">Direct Costs and donation suggestions are based on 8-12 guests.</p>
      </div>
      <div class="rounded-3xl p-8 ring-2 ring-blue-600 xl:p-10 align-middle content-center bg-blue-50">
        <div class="flex items-center justify-between gap-x-4 align-middle content-center">
          <h3 id="tier-enterprise" class="text-lg font-semibold leading-8 text-blue-600">Estimated Total Cost Per Week</h3>
        </div>
        <p class="mt-4 text-sm leading-6 text-gray-600">Total represents the calculated direct and suggested donation costs based on a group of 8-12 guests.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <!-- Price, update based on frequency toggle state -->
          <span class="text-4xl font-bold tracking-tight text-gray-900">$25,000</span>
          <!-- Payment frequency, update based on frequency toggle state -->
          <span class="text-sm font-semibold leading-6 text-gray-600">/week</span>
        </p>
        <p class="mt-4 text-xs text-gray-400">Direct Costs and donation suggestions are based on 8-12 guests.</p>

      </div>
    </div>
  </div>
</div>
