<div class="relative isolate bg-white">
  </div>
  <div class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end" aria-hidden="true">
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">Vessels Amenities</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Features & Amenities</p>
      <p class="mt-6 text-xl leading-8 text-gray-600">Elevate your journey with our exclusive vessel amenities, each thoughtfully curated to add a touch of luxury and unique charm to your experience, ensuring every moment aboard is unforgettable.</p>

    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
      <figure class="rounded-2xl h-auto py-48 bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg')] bg-cover">
        <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
        </blockquote>
      </figure>
      <div class="space-y-8 xl:contents xl:space-y-0">
        <div class="space-y-8 xl:row-span-2">
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-gray-900">
              <p>S/Y Whatever it Takes carries 20 dive tanks and BCD’s with an onboard Bauer compressor, making it possible to ex,mplore some of the most remote and difficult to access dive sites in the world.</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <div>
                <div class="font-semibold">Onboard Diving Program</div>
              </div>
            </figcaption>
          </figure>

          <figure class="rounded-2xl bg-white p-24 shadow-lg ring-1 ring-gray-900/5 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg')] bg-cover h-auto">
            <blockquote class="text-gray-900">
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <div>
              </div>
            </figcaption>
          </figure>

          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-gray-900">
              <p>S/Y Whatever it Takes carries 20 dive tanks and BCD’s with an onboard Bauer compressor, making it possible to ex,mplore some of the most remote and difficult to access dive sites in the world.</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <div>
                <div class="font-semibold">Onboard Diving Program</div>
              </div>
            </figcaption>
          </figure>

          <!-- More testimonials... -->
        </div>
        <div class="space-y-8 xl:row-start-1">

          <figure class="rounded-2xl h-auto p-24 bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040740/30m-Yacht-JUPITER_-9883-162.jpg')] bg-cover">
            <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
            </blockquote>
          </figure>

          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-gray-900">
              <p>Experience culinary excellence in our fully-equipped commercial galley, complete with a range of amenities and the option of a private chef.</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <div>
                <div class="font-semibold">Full Commercial Galley</div>
              </div>
            </figcaption>
          </figure>


          <!-- More testimonials... -->
        </div>
      </div>
      <div class="space-y-8 xl:contents xl:space-y-0">
        <div class="space-y-8 xl:row-start-1">
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-gray-900">
              <p>We carry a 15’ racing catamaran, multiple kayaks and paddleboards, and (2) go-fast RIB’s with tubes and wakeboards for endless watersports fun.</p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <div>
                <div class="font-semibold">Watersports Gear</div>
              </div>
            </figcaption>
          </figure>

          <figure class="rounded-2xl h-auto p-24 bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040738/30m-Yacht-JUPITER_-9883-208.jpg')] bg-cover">
            <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
            </blockquote>
          </figure>

          

          <!-- More testimonials... -->
        </div>
        <div class="space-y-8 xl:row-span-2">
          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-gray-900">
              <div>
                <div class="font-semibold mb-2">Onboard Diving Program</div>
              </div>

              <p>S/Y Whatever it Takes carries 20 dive tanks and BCD’s with an onboard Bauer compressor, making it possible to ex,mplore some of the most remote and difficult to access dive sites in the world.</p>
            </blockquote>
          </figure>

          <figure class="rounded-2xl bg-white shadow-lg ring-1 ring-gray-900/5 sm:col-span-2 xl:col-start-2 xl:row-end-1 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg')] bg-cover">
            <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 sm:p-12 sm:text-xl sm:leading-8">
            </blockquote>
          </figure>

          <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
            <blockquote class="text-gray-900">
              <div>
                <div class="font-semibold mb-2">Onboard Diving Program</div>
              </div>

              <p>S/Y Whatever it Takes carries 20 dive tanks and BCD’s with an onboard Bauer compressor, making it possible to ex,mplore some of the most remote and difficult to access dive sites in the world.</p>
            </blockquote>
          </figure>

          <!-- More testimonials... -->
        </div>
      </div>
    </div>
  </div>
</div>
