<div class="bg-white scroll-mt-24 py-16" id="about">
    <div class="mx-auto max-w-7xl px-6 lg:px-6">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <h2 id="features-heading" class="font-medium text-gray-500 mona">Expedition Overview</h2>
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">International Sailing Expeditions: SailFuture Academy's 'Rite of Passage' Experience<br></h2>
        <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-gray-900 lg:max-w-none lg:grid-cols-2 text-lg leading-7 ">
          <div>
            <p>At SailFuture Academy, sailing expeditions are central to our educational approach, offering an immersive experience that combines adventure, learning, and personal growth. Over the course of 7 weeks, students and teachers journey to unique and often remote parts of the world, forging lasting relationships and sharing life-changing experiences. 
            </p>
          </div>
          <div>
            <p>These expeditions are designed to nurture both personal and professional development, helping students build resilience, teamwork, and leadership skills. Regarded as a transformative 'rite-of-passage,' every SailFuture Academy student is required to complete a sailing expedition prior to graduation, ensuring they are well-prepared for the challenges of ‘real-world’ post-graduation. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>