<!-- Vessel Amenities -->
<div class="bg-white">
    <section aria-labelledby="features-heading" class="relative">
      <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16 hidden lg:grid">
        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1716736102/400377856_727784412706602_2753782583815365130_n.jpg" alt="" class="hidden md:grid h-full w-full object-cover object-center lg:h-full lg:w-full">
      </div>
  
      <div class="mx-auto max-w-2xl px-6 lg:grid lg:max-w-7xl grid-cols-2 lg:gap-x-8 py-12">
        <div class="lg:col-start-2">
          <h2 id="features-heading" class="font-medium text-gray-500 mona">Vessel Details</h2>
          <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">Roles and Responsibilities</h2>
          <p class="mt-4 text-gray-500 text-lg leading-7 ">Each student, under the guidance of an experienced supervisor, will be trained in an assigned department onboard the vessel. At the end of an Expedition, the intern should be capable of performing all basic boat operations that would be expected of a working deckhand in the professional sailing or yachting industry.</p>
  
          <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
            <div>
              <dt class="font-medium text-md text-gray-900">Bridge Department </dt>
              <dd class="mt-2 text-gray-500">Responsible for overall management of the vessel and personnel, passage planning, navigation, and safety.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Engineering Department </dt>
              <dd class="mt-2 text-gray-500">Responsible for all ship systems, including propulsion engine, generators, water makers, chillers, pumps, etc. Performs onboard repairs and daily and annual maintenance.
              </dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Deck Department </dt>
              <dd class="mt-2 text-gray-500">Responsible for all above deck cleanliness and organization, including wash downs, rigging maintenance, tender maintenance, and safety equipment checks.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Galley Department </dt>
              <dd class="mt-2 text-gray-500">Responsible for all culinary operations, including provisioning, food management, galley cleanliness, and preparing 3 meals a day for 18 crew.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Interior Department </dt>
              <dd class="mt-2 text-gray-500">Responsible for interior cleanliness and organization, including bathrooms, cabins, galley, and common spaces. Manages onboard laundry service for all crew.</dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
  </div>