<div class="bg-slate-900 scroll-mt-16 py-16" id="about">
    <div class="mx-auto max-w-7xl px-8 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <p class="text-base font-semibold leading-7 text-blue-200">Overview</p>
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">A Unique Way to Support SailFuture<br>While Traveling the World</h2>
        <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-gray-300 lg:max-w-none lg:grid-cols-2 text-lg leading-8 ">
          <div>
            <p>Vacations with Purpose is an innovative approach to travel and philanthropy. It allows supporters of SailFuture to embark on a sailing vacation aboard the S/Y Whatever It Takes, where they can enjoy the beauty and thrill of sailing, knowing that their journey contributes directly to the organization's mission. This concept is more than just a holiday; it's an opportunity to be part of something bigger, to make a difference while exploring some of the most stunning destinations in the world.</p>
          </div>
          <div>
            <p>The S/Y Whatever It Takes is not just any vessel; it's the newest flagship of SailFuture, a beautifully crafted yacht designed for both purpose and pleasure. When it's not engaged in its primary mission of serving SailFuture's population, this magnificent vessel is available for charter. It represents a perfect harmony of luxury and purpose, providing a one-of-a-kind experience for its guests.</p>
          </div>
        </div>
      </div>
    </div>
  </div>