<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Avaliable Booking Dates</h2>
      </div>


      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-gray-200 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">

        <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>

          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
                  <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
          <div class="relative overflow-hidden rounded-lg bg-white px-4 pb-12 pt-5 shadow sm:px-6 sm:pt-6 cursor-pointer hover:bg-gray-100 hover:border-gray-300 duration-300">
            <div class="flex items-center gap-x-4 text-xs">
                <a href="#" class="relative z-10 rounded-full bg-green-200 px-3 py-1.5 font-medium text-green-600 hover:bg-green-100">Avaliable Now</a>
              </div>
              <div class="group relative py-4">
                <h4 class="text-lg font-extrabold leading-6 text-gray-900 group-hover:text-gray-600">
                    Week 1
                </h4>
                <h4 class="text-md font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                February 26th to March 1st
                </h4>
              </div>
              <div class="absolute inset-x-0 bottom-0 bg-gray-50 px-4 py-4 sm:px-6">
                <div class="text-sm font-bold">
                 Book Now
                </div>
              </div>
            </dd>
          </div>
  
        <!-- More posts... -->
      </div>
    </div>
  </div>
  