<div id="vessel" class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 scroll-mt-20">
  <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg" alt="" class=" absolute inset-0 -z-10 h-full w-full object-cover">
  <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/50"></div>
  <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

  <div class="relative mx-auto max-w-7xl px-8 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
      <h2 class="text-base font-medium leading-8 text-gray-100 mona">Vessel Overview</h2>
      <p class="mt-2 text-3xl font-bold tracking-tighter text-white sm:text-4xl">S/Y 'Whatever It Takes'</p>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        The S/Y 'Whatever It Takes' is a custom designed 100-foot Italian sailing ketch. She went through a year-long refit in 2022 and is the perfect boat to accommodate large families or group travel with friends.</p>
    </div>
    <dl class="mx-auto mt-16 grid max-w-2xl gap-x-8 gap-y-10 text-white sm:mt-20 sm:gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-4 lg:grid grid-cols-2">
      <div class="flex flex-col gap-y-3 border-l border-white/30 pl-6">
        <dt class="text-sm leading-6">Overall Length</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight">100'</dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-white/30 pl-6">
        <dt class="text-sm leading-6">Beam Width</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight"> 24'</dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-white/30 pl-6">
        <dt class="text-sm leading-6">Guest Cabins</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight">6-12</dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-white/30 pl-6">
        <dt class="text-sm leading-6">Draft Depth
        </dt>
        <dd class="order-first text-3xl font-semibold tracking-tight">11'</dd>
      </div>
    </dl>
  </div>
</div>
