<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div class="grid h-dvh min-height-full grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1">
  <div class="relative flex h-dvh items-center">
    <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/b_rgb:000000,o_20/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg" alt="" class="absolute inset-0 h-full w-full object-cover object-center">
    <div class="relative flex w-full flex-col items-center justify-end p-8 sm:p-12">
      <h2 class="text-lg font-medium text-white text-opacity-75">Vacation With Purpose</h2>
      <p class="mt-1 text-5xl font-medium text-white mona">Explore Our 2024 Charters</p>
      <a href="#" class="mt-4 rounded-md bg-white px-4 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-50">Explore Now
      </a>
    </div>
  </div>
  <div class="relative flex h-dvh items-center">
    <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/b_rgb:000000,e_grayscale,o_49/v1698765649/092923_WhateverItTakes_5.jpg" alt="" class="absolute inset-0 h-full w-full object-cover object-center">
    <div class="relative flex w-full flex-col items-center justify-end p-8 sm:p-12">
      <h2 class="text-lg font-medium text-white text-opacity-75">Make A Donation</h2>
      <p class="mt-1 text-5xl font-medium text-white mona">Support Our Mission</p>
      <a href="#" class="mt-4 rounded-md bg-white px-4 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-50">Donate Now</a>
    </div>
  </div>
</div>
  