
<div class="grid h-dvh grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1">

    <div class="relative flex md:h-dvh items-center bg-slate-900">
      <a href="/charters">
      <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040735/30m-Yacht-JUPITER_-9883-21.jpg" alt="" class="absolute inset-0 h-full w-full object-cover object-center hover:grayscale-0 grayscale transition duration-200 opacity-40">
      <div class="relative flex w-full flex-col items-center justify-end p-8 sm:p-12 text-center">
        <h2 class="text-sm md:text-lg font-medium text-white text-opacity-75 text-center">Vacation with Purpose</h2>
        <p class="mt-1 text-3xl md:text-5xl lg:text-5xl font-medium text-white mona text-center">Charter Our New Flagship Vessel</p>
        <a href="/charters" class="mt-4 rounded-md bg-white px-4 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-200">Explore Charters</a>
      </div>
    </a>
    </div>


  <div class="relative flex md:h-dvh items-center bg-slate-900">
    <a href="/donate">
    <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1698765649/092923_WhateverItTakes_5.jpg" alt="" class="absolute inset-0 h-full w-full object-cover object-center hover:grayscale-0 grayscale transition duration-200 opacity-40">
    <div class="relative flex w-full flex-col items-center justify-end p-8 sm:p-12">
      <h2 class="text-sm md:text-lg font-medium text-white text-opacity-75 text-center">Make A Donation</h2>
      <p class="mt-1 text-3xl md:text-5xl lg:text-5xl font-medium text-white mona text-center">Support Our Mission</p>
      <a href="/donate" class="mt-4 rounded-md bg-white px-4 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-50">Donate Now</a>
    </div>
  </a>
  </div>

</div>
  