<header class="bg-blue-950 sticky top-0 z-10">
    <nav class="mx-auto flex max-w-7xl items-center justify-between gap-x-6 p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">SailFuture</span>
          <img class="h-4 w-auto" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1671677866/Artboard_3.png" alt="">
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#top" class="scroll-smooth transition duration-100 text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">About</a>
        <a href="#winter" class="text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">Winter</a>
        <a href="#summer" class="text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">Summer</a>
        <a href="#dates" class="text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">Dates</a>
        <a href="#pricing" class="text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">Pricing</a>
        <a href="#vessel" class="text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">Vessel</a>
        <a href="#contact" class="text-sm font-semibold leading-6 text-gray-100 hover:text-gray-200">Contact</a>
      </div>
      <div class="flex flex-1 items-center justify-end gap-x-6">
        <a href="/contact" class="hidden lg:block lg:text-sm lg:font-semibold lg:leading-6 lg:text-gray-100">Contact Us</a>
        <a href="/contact" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Book Now</a>
      </div>
    </nav>
  </header>
  