<div class="border-1 border-slate-700 border-t-1 scroll-mt-24 bg-gray-50 bg-slate-900" id="economics">
<div class="relative mx-auto max-w-7xl py-16 px-8">
  <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-100  max-w-2xl">The Economics</h2>
  <p class="mt-4 text-gray-300 text-lg leading-8 pb-8 max-w-2xl">
    By contributing to the private scholarship fund, you have the unique opportunity to bridge the $6,500 gap in annual tuition costs for a student, empowering them to access a $20,000 worth education</p>
<!-- Table
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add user</button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Current funding sources</th>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Cost Per Student</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr class="bg-yellow-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-bold text-yellow-900 sm:pl-3">Total Cost Per Student</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm font-bold text-yellow-500">$20,000</td>
            </tr>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">State of FL education voucher</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500">+$8,000</td>
            </tr>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">Medicaid services</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500">+$2,000</td>
            </tr>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">FRL reimbursement</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500">+$1,000</td>
            </tr>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">Workforce Grant</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500">+$2,000</td>
            </tr>
            <tr class="even:bg-gray-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">Student contribution through WBL wages</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500">+$500</td>
            </tr>
            <tr class="bg-blue-50">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-bold text-blue-900 sm:pl-3">Private scholarship needed annually per student</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm font-bold text-blue-500">$6,000</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
 More people... -->


<div>
  <div class="overflow-hidden border-t border-gray-100 ring-1 ring-gray-200 rounded-xl shadow-xl bg-white">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <table class="w-full text-left">
          <thead class="sr-only">
            <tr>
              <th>Amount</th>
              <th class="hidden sm:table-cell">Client</th>
              <th>More details</th>
            </tr>
          </thead>
          <tbody class="ring-1 ring-gray-50 p-4">

            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
  
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-md font-medium leading-6 text-gray-900">Total Tuition Cost Per Student</div>
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-md font-medium leading-6 text-gray-900">$20,000 / Year</div>
                  </div>
              </td>
            </tr>


            <tr class="text-sm leading-6 text-gray-900">
              <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                <time datetime="2023-03-22">Current Funding Sources</time>
                <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-green-200 bg-green-50"></div>
                <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-green-200 bg-green-50"></div>
              </th>
            </tr>
            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-gray-900">State of FL education voucher</div>
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-sm font-medium leading-6 text-gray-900">$8,000</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Income</div>
                  </div>
              </td>
            </tr>

            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-green-900">Medicaid services</div>
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-sm font-medium leading-6 text-green-900">$2,000</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Income</div>
                  </div>
              </td>
            </tr>

            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-green-900">FRL reimbursement</div>
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-sm font-medium leading-6 text-green-900">$1,000</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Income</div>
                  </div>
              </td>
            </tr>

            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-green-900">Workforce Grant</div>
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-sm font-medium leading-6 text-green-900">$2,000</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Income</div>
                  </div>
              </td>
            </tr>

            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-sm font-medium leading-6 text-green-900">Student contribution through WBL wages</div>
                    </div>
                  </div>
                </div>
                <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
                <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-sm font-medium leading-6 text-green-900">$500</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Income</div>
                  </div>
              </td>
            </tr>

            <tr class="text-sm leading-6 text-gray-900">
              <th scope="colgroup" colspan="3" class="relative isolate py-2 font-semibold">
                <time datetime="2023-03-21">Remaining Amount</time>
                <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-blue-200 bg-blue-50"></div>
                <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-blue-200 bg-blue-50"></div>
              </th>
            </tr>
            <tr>
              <td class="relative py-5 pr-6">
                <div class="flex gap-x-6">
                  <div class="flex-auto">
                    <div class="flex items-start gap-x-3">
                      <div class="text-md font-medium leading-6 text-blue-900">Private Scholarship Needed Annually</div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="py-5 text-right">
                <div class="flex justify-end">
                  <div class="flex items-start gap-x-3">
                    <div class="text-md font-medium leading-6 text-blue-900">$6,500</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-blue-700 bg-blue-50 ring-blue-600/20">Donation</div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>