<div class="bg-slate-900 scroll-mt-24 py-16" id="about">
    <div class="mx-auto max-w-7xl px-6 lg:px-6">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <p class="text-base font-semibold leading-7 text-blue-200">Overview</p>
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">About the SailFuture Academy Scholarship Endowment</h2>
        <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-gray-300 lg:max-w-none lg:grid-cols-2 text-lg leading-7 ">
          <div>
            <p>Each $30,000 scholarship will ensure that (1) student a year will be able to attend tuition free in perpetuity.

              You will be matched with a student each year, providing you with an opportunity to see the impact of your gift over a lifetime. Each endowed scholarship is $30,000 and is payable over three years. 
            </p>
          </div>
          <div>
            <p>Each named scholarship of $30,000 will be invested as an endowment to form a $6M scholarship fund. The annual returns of the fund will grant the $6,500 scholarship needed for 100 students per year.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>