
<section id="winter" class="scroll-mt-24 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1644880957/8G3A5899.jpg')] bg-no-repeat bg-cover bg-center bg-slate-900 bg-blend-multiply py-16 border-1">
    <div class="relative px-6 mx-auto max-w-screen-xl text-white z-1">
        <div class="mb-6 lg:mb-0">


          <div class="lg:mb-0">

            <div class="relative mx-auto max-w-7xl">
                <div class="mx-auto max-w-2xl lg:mx-0">
                  <h2 class="text-base font-semibold leading-8 text-blue-200">Student Experiences</h2>
                  <p class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">Your Impact</p>
                  <p class="mt-6 text-lg leading-7 text-gray-300">Scholarships for Students offers transformative, once-in-a-lifetime opportunities for at-risk student populations in the St. Petersburg area. Students who attend the SailFuture Academy are provided with unique experiences designed to foster independent thinking, entrepreneurial spirit and developing young individuals into successful, self-reliant high school graduates.</p>
                  <h2 class="text-base font-semibold leading-8 text-blue-200 mt-8">Student Experiences</h2>
                </div>
              </div>
        </div> 
            
    
        <div class="relative mx-auto">
            <div class="mx-auto mt-4">
                <div class="mx-auto grid auto-rows-fr grid-cols-1 md:grid-cols-2 gap-8 lg:max-w-none lg:grid-cols-3">

                    <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 pb-8 px-8 pt-40 lg:pt-80">
                      <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1683591097/Marquel_3.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                      <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                      <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
              
                      <h3 class="my-3 text-2xl  font-bold leading-7 text-white">
                        <a href="#winter">
                          <span class="absolute inset-0"></span>
                          Project-based Curriculum Designed for Hands-On Learners
                        </a>
                      </h3>
                      <p class="text-lg leading-6 text-gray-300">
                        We place students in the driver’s seat to solve real world problems from the moment they step foot on campus in order to re-engage and re-inspire students who have become disconnected from their high school experience.
                      </p>
                    </article>

                    
                    <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1671417852/8G3A2116.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                        <h3 class="my-3 text-2xl  font-bold leading-7 text-white">
                          <a href="#winter">
                            <span class="absolute inset-0"></span>
                            Paid, Work-based Internships and Training Programs
                          </a>
                        </h3>
                        <p class="text-lg leading-6 text-gray-300">
                          On-site training, and external apprenticeship opportunities with local employers create the opportunity for students to learn valuate to develop business acumen while earning financial stipend.
                        </p>
                     </article>

                      
                    <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1671417850/DSC02532.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                        <h3 class="my-3 text-2xl  font-bold leading-7 text-white">
                          <a href="#winter">
                            <span class="absolute inset-0"></span>
                            International Sailing Expeditions
                          </a>
                        </h3>
                        <p class=" text-lg leading-6 text-gray-300">
                            Students participate in
                        </p>
                      </article>

                      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1683591076/students_29.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                        <h3 class="my-3 text-2xl  font-bold leading-7 text-white">
                          <a href="#winter">
                            <span class="absolute inset-0"></span>
                            Guaranteed College or Career Placement
                          </a>
                        </h3>
                        <p class="text-lg leading-6 text-gray-300">
                            Experience the rich culture of Puerto Rico and explore the unspoiled beauty of the Spanish Virgin Islands, creating a diverse and unforgettable Caribbean adventure.
                        </p>
                      </article>

                      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1671417847/8G3A7562.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                        <h3 class="my-3 text-2xl  font-bold leading-7 text-white">
                          <a href="#winter">
                            <span class="absolute inset-0"></span>
                            Business Plan Thesis Development
                          </a>
                        </h3>
                        <p class="text-lg leading-6 text-gray-300">
                            Experience the rich culture of Puerto Rico and explore the unspoiled beauty of the Spanish Virgin Islands, creating a diverse and unforgettable Caribbean adventure.
                        </p>
                      </article>

                      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1645208713/8G3A6300-1.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                        <h3 class="my-3 text-2xl  font-bold leading-7 text-white">
                          <a href="#winter">
                            <span class="absolute inset-0"></span>
                            Social-Emotional Development
                          </a>
                        </h3>
                        <p class="text-lg leading-6 text-gray-300">
                            Experience the rich culture of Puerto Rico and explore the unspoiled beauty of the Spanish Virgin Islands, creating a diverse and unforgettable Caribbean adventure.
                        </p>
                      </article>
                  
          
                <!-- More posts... -->
              </div>
            </div>


          </div>
    </div>
</section>