<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">About the SailFuture Academy Scholarship Endowment</h2>
      <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
        <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
          <p class="text-xl leading-8 text-gray-600">Each $30,000 scholarship will ensure that (1) student a year will be able to attend tuition free in perpetuity. 
            <br></br>
            You will be matched with a student each year, providing you with an opportunity to see the impact of your gift over a lifetime. 
            
            Each endowed scholarship is $30,000 and is payable over three years. 
            
            Each named scholarship of $30,000 will be invested as an endowment to form a $6M scholarship fund. 
            
            The annual returns of the fund will grant the $6,500 scholarship needed for 100 students per year. </p>
        </div>
        <div class="lg:flex lg:flex-auto lg:justify-center">
          <dl class="w-64 space-y-8 xl:w-80">
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Transactions every 24 hours</dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">44 million</dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Assets under holding</dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">$119 trillion</dd>
            </div>
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base leading-7 text-gray-600">New users annually</dt>
              <dd class="text-5xl font-semibold tracking-tight text-gray-900">46,000</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
