<div class="relative bg-slate-900 scroll-mt-24" id="population">
  <img class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1/2" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1683591052/Saturday_April_29_2023_5-51-26_PM_13.jpg" alt="">
  <div class="mx-auto grid max-w-7xl lg:grid-cols-2">
    <div class="px-6 pb-24 pt-16 sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32">
      <div class="mx-auto max-w-2xl lg:mr-0 lg:max-w-lg">
        <h2 class="text-base font-semibold leading-8 text-blue-200">Population Served</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">Your Contribution Creates Opportunity to the Highest At-Risk Populations in St. Petersburg</p>
        <p class="mt-6 text-lg leading-8 text-gray-200">Your contribution to our endowed scholarship fund for at-risk students in St. Petersburg is more than just a donation — it's an investment in the next generation.</p>
        <dl class="mt-16 grid max-w-xl grid-cols-1 gap-8 sm:mt-16 sm:grid-cols-2 xl:mt-16">
          <div class="flex flex-col gap-y-3 border-l border-gray-300/10 pl-6">
            <dt class="text-sm leading-6 text-gray-300">Median Annual Income</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100">$24,000</dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-gray-300/10 pl-6">
            <dt class="text-sm leading-6 text-gray-300">Free and Reduced Lunch Eligible</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100">95%</dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-gray-300/10 pl-6">
            <dt class="text-sm leading-6 text-gray-300">High Risk Foster Care Youth</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100">15%</dd>
          </div>
          <div class="flex flex-col gap-y-3 border-l border-gray-300/10 pl-6">
            <dt class="text-sm leading-6 text-gray-300">Full Scholarship Qualification</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-100">98%</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
