<!-- Vessel Amenities -->
<div class="bg-white">
    <section aria-labelledby="features-heading" class="relative">
      <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16 hidden lg:grid">
        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040740/30m-Yacht-JUPITER_-9883-162.jpg" alt="Black leather journal with silver steel disc binding resting on wooden shelf with machined steel pen." class="hidden md:grid h-full w-full object-cover object-center lg:h-full lg:w-full">
      </div>
  
      <div class="mx-auto max-w-2xl px-8 lg:grid lg:max-w-7xl grid-cols-2 lg:gap-x-8 py-16">
        <div class="lg:col-start-2">
          <h2 id="features-heading" class="font-medium text-gray-500 mona">Vessel Details</h2>
          <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">Luxurious Onboard Amenities & Activites</h2>
          <p class="mt-4 text-gray-500 text-lg leading-7 ">Elevate your journey with our exclusive vessel amenities, each thoughtfully curated to add a touch of luxury and unique charm to your experience, ensuring every moment aboard is unforgettable.</p>
  
          <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
            <div>
              <dt class="font-medium text-md text-gray-900">Advanced Commercial Diving Equipment & Training</dt>
              <dd class="mt-2 text-gray-500">Explore the depths with our comprehensive diving program, featuring 20 top-tier tanks and BCDs, along with professional scuba instruction./dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Gourmet Galley Services</dt>
              <dd class="mt-2 text-gray-500">Experience culinary excellence in our fully-equipped kitchen, complete with a range of amenities and the option of a private chef.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">High-Speed Tender Excursions</dt>
              <dd class="mt-2 text-gray-500">Feel the thrill with our 14' go-fast tenders, complete with exciting tubes and kneeboards for an adrenaline-packed experience.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Premium Watersports Gear</dt>
              <dd class="mt-2 text-gray-500">Engage in aquatic fun with our 15' racing catamaran and paddleboard, offering endless water-based adventure.</dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
  </div>