<!-- Vessel Amenities -->
<div class="bg-white">
    <section aria-labelledby="features-heading" class="relative">
      <div class="aspect-h-2 aspect-w-3 overflow-hidden sm:aspect-w-5 lg:aspect-none lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16 hidden lg:grid">
        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040740/30m-Yacht-JUPITER_-9883-162.jpg" alt="" class="hidden md:grid h-full w-full object-cover object-center lg:h-full lg:w-full">
      </div>
  
      <div class="mx-auto max-w-2xl px-6 lg:grid lg:max-w-7xl grid-cols-2 lg:gap-x-8 py-12">
        <div class="lg:col-start-2">
          <h2 id="features-heading" class="font-medium text-gray-500 mona">Vessel Details</h2>
          <h2 class="mt-2 text-4xl font-bold tracking-tighter text-gray-900">Features & Amenities</h2>
          <p class="mt-4 text-gray-500 text-lg leading-7 ">Elevate your journey with our exclusive vessel amenities, each thoughtfully curated to add a touch of luxury and unique charm to your experience, ensuring every moment aboard is unforgettable.</p>
  
          <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
            <div>
              <dt class="font-medium text-md text-gray-900">Onboard Diving Program</dt>
              <dd class="mt-2 text-gray-500">S/Y Whatever it Takes carries 20 dive tanks and BCD’s with an onboard Bauer compressor, making it possible to ex,mplore some of the most remote and difficult to access dive sites in the world.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Full Commercial Galley</dt>
              <dd class="mt-2 text-gray-500">Experience culinary excellence in our fully-equipped commercial galley, complete with a range of amenities and the option of a private chef.</dd>
            </div>
            <div>
              <dt class="font-medium text-md  text-gray-900">Watersports Gear</dt>
              <dd class="mt-2 text-gray-500">We carry a 15’ racing catamaran, multiple kayaks and paddleboards, and (2) go-fast RIB’s with tubes and wakeboards for endless watersports fun.</dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
  </div>