<!-- Vessel Accomodation -->
<div class="bg-white border-2 border-slate-200">
    <div class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8">
      <div class="max-w-3xl">
        <h2 id="features-heading" class="font-medium text-gray-500">Vessel Accomodations</h2>
        <h2 class="mt-2 text-3xl font-medium tracking-tight text-gray-900 sm:text-4xl">Spacious and Comfortable Rooms for Groups of up to 12 Guests</h2>
        <p class="mt-4 text-gray-500">Focus allows you to plan 10 daily tasks, while also thinking ahead about what's next. Forget distracting digital apps and embrace these small, sturdy pieces of paper.</p>
      </div>
  
      <div class="mt-11 grid grid-cols-1 items-start gap-x-6 gap-y-16 sm:mt-16 sm:grid-cols-1 lg:grid-cols-3 lg:gap-x-8">
        <div class="flex flex-col-reverse">
          <div class="mt-6">
            <p class="text-md font-bold text-gray-900">Exclusive Queen Ensuite <br>(1 Rooms Avaliable)</p>
            <p class="mt-2 text-sm text-gray-500">A private retreat for 2, featuring a queen-sized bed and an exclusive bathroom with shower.</p>
          </div>
          <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040740/30m-Yacht-JUPITER_-9883-113.jpg" alt="Green cardstock box containing white, beige, and brown cards." class="object-cover object-center">
          </div>
        </div>
        <div class="flex flex-col-reverse">
          <div class="mt-6">
            <p class="text-md font-bold text-gray-900">Queen Quarters with Shared Facilities<br>(2 Rooms Avaliable) </p>
            <p class="mt-2 text-sm text-gray-500">Ideal for companions, this queen-sized cabin for 2 shares its bathroom amenities.</p>
          </div>
          <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040738/30m-Yacht-JUPITER_-9883-177.jpg" alt="Green cardstock box open with 50 cards inside." class="object-cover object-center">
          </div>
        </div>
        <div class="flex flex-col-reverse">
          <div class="mt-6">
            <p class="text-md font-bold text-gray-900">Trio-Bunk Cabin with Private Facilities <br>(2 Rooms Avaliable)</p>
            <p class="mt-2 text-sm text-gray-500">Spacious for 3 guests, equipped with 3 bunks and an ensuite bathroom with a shower.</p>
          </div>
          <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040738/30m-Yacht-JUPITER_-9883-134.jpg" alt="Detail of white today card, beige next card, and brown someday card with dot grid." class="object-cover object-center">
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 pt-8">
        <div>
          <div class="aspect-h-2 aspect-w-3 w-full overflow-hidden rounded-lg">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040741/30m-Yacht-JUPITER_-9883-82.jpg" alt="Drawstring top with elastic loop closure and textured interior padding." class="h-full w-full object-cover object-center">
          </div>
          <div class="mt-6">
            <p class="text-md font-bold text-gray-900">Elegant Al Fresco Dining </p>
            <p class="mt-2 text-sm text-gray-500">Dine under the stars in our stylish seating cockpit, perfectly designed for memorable group dinners.</p>
          </div>
        </div>
        <div>
          <div class="aspect-h-2 aspect-w-3 w-full overflow-hidden rounded-lg">
            <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1703040741/30m-Yacht-JUPITER_-9883-138.jpg" alt="Front zipper pouch with included key ring." class="h-full w-full object-cover object-center">
          </div>
          <div class="mt-6">
            <p class="text-md font-bold text-gray-900">Media Room & Lounge</p>
            <p class="mt-2 text-sm text-gray-500">Relax and entertain in our luxurious salon, boasting a state-of-the-art movie room with immersive surround sound TV.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  